body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("imgs/bark.jpg");

}


.top{
    
    width: 646px;
    height: 150px;
    background-color: rgb(32, 32, 32);
    border: 5px solid rgb(109, 109, 109);
}

#buttons{
    display:grid;
    grid-template-columns: repeat(4, 152px);
    grid-template-rows: repeat(4, 100px);
    color:cyan;
    justify-items: center;
    align-items: center;
    border:25px solid rgb(30, 117, 51);
    background-color: rgb(23, 122, 214);
    width: 606px;
    height: 450px;
    text-align: center;
}


button{
    border: 5px solid black;
    width:75px;
    height: 50px;
    font-size: larger;
}